.contents
  .header
    .left-box
      %h2.left-box__group-name
        = @group.name
      .left-box__member-list
        Member：
        %ul
        - @group.users.each do |user|
          %li.left-box__member-list__name
            = user.name

    .right-box
      = link_to edit_group_path(@group) do
        %p.right-box__btn
          Edit
  .messages
    = render @messages


  .form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'message-box', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__img' do
          = icon('fas', 'image', class: 'form__mask__img__icon')
          = f.file_field :image, class: 'form__mask__img__file'
      = f.submit 'Send', class: 'submit-btn'
